---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Sobre mí | Emilia Ortiz" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Más sobre mí"
				tagline="Si deseas conocer más sobre mi enfoque y experiencia antes de que colaboremos, aquí encontrarás información adicional que podría interesarte."
			>
				<img
					width="1553"
					height="873"
					src="/assets/photoAbout.webp"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Mi historia</h2>
				<div class="content">
					<p>
						Con más 28 años de experiencia en el sector turístico y hostelero, he desarrollado una sólida trayectoria en la gestión y dirección de equipos, así como en la implementación de planes estratégicos que han promovido el desarrollo de la promoción de la gastronomía y turismo de Alicante a nivel local, provincial, nacional e internacional.
					</p><br/>
						<p>
						En mi último cargo como Gerente y Secretaria General, he liderado iniciativas que abarcan desde la creación de planes formativos hasta la gestión de subvenciones y auditorías. Mi experiencia en marketing online y offline, así como en la gestión de la comunicación y relaciones públicas, me ha permitido establecer conexiones valiosas y generar un impacto positivo en las organizaciones con las que he trabajado.

					</p><br/>
					<p>
						Soy una persona positiva y comprometida, con una alta capacidad de adaptación y aprendizaje. He participado en diversas mesas de trabajo de gran relevancia para el sector, donde he demostrado mis habilidades de negociación y mi capacidad para resolver incidencias de manera efectiva. Actualmente, como asesora y evaluadora de calidad de sector turístico, he visitado 86 empresas en poco más de 2 meses, lo que refleja mi dedicación y mi disposición para viajar y trabajar en diferentes entornos.

					</p>
					<br/>					<p>
						Estoy entusiasmada con la posibilidad de aportar mi experiencia y habilidades a cualquier empresa. Estoy convencida de que mi capacidad para identificar oportunidades en el mercado y mi enfoque proactivo serán un gran valor añadido para su equipo.

					</p>
					
				</div>
			</section>
			
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<p>Comunicativa, trabajadora en equipo, Resolutiva, Gestión de estres
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
